@model StarTimes.Shared.ApiResponse.PaymentQueryApiResponse

@{
    ViewData["Title"] = "PaymentStatus";
}

<h1>Payment Status</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Payment_method)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Payment_method)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Confirmation_code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Confirmation_code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Payment_status_description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Payment_status_description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Message)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Payment_account)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Payment_account)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Call_back_url)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Call_back_url)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status_code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status_code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Merchant_reference)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Merchant_reference)
        </dd>
   
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Currency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Currency)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>

